
  body {
    font-family: sans-serif;
    width: 260px;
    text-align: center;
    padding: 20px;
    background: #f7f7f7
  }

  #phase {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold
  }

  #timer {
    font-size: 3em;
    margin: 15px 0;
    font-weight: bold
  }

  button {
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    justify-content: center;
    align-items: center
  }

  #start {
    background: #4caf50;
    color: #fff;
    width: 100%;
  }

  #controlBox {
    width: 100%;
    padding: 0;
    margin: 5px;
  }

  #controlBox button {
    width: 50%;
    font-size: 1.1em;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center
  }

  #stopResume {
    background: #ff9800;
    color: white;
  }

  #myReset {
    background: #f44336;
    color: white;
  }


  #progress-container {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 6px;
    margin-top: 15px
  }

  #progress-bar {
    height: 12px;
    width: 0%;
    background: #4caf50;
    border-radius: 6px;
    transition: width 0.5s linear
  }

  .break #phase {
    color: #2196f3
  }

  .break #progress-bar {
    background-color: #2196f3
  }

  .longBreak #phase {
    color: #9c27b0;
  }

  .longBreak #progress-bar {
    background-color: #9c27b0
  }